.file-information {
    display: flex;
    align-items: center;
    padding: 16px;

    &:nth-child(2n) {
        background-color: #f2f2f2;
    }

    &:nth-child(2n + 1) {
        background-color: #fdfdfe;
    }

    &:hover {
        background-color: #dadada;
        cursor: pointer;
    }

    .iconcontainer {
        // flex-grow: 2;
        width: 20%;
    }

    .text {
        // flex-grow: 4;
        width: 60%;
        word-break: break-all;
        margin-bottom: 0;
    }

    i.fa.fa-trash {
        margin-top: 4px;
    }

    &__button-group {
        display: flex;
        justify-content: center;
        width: 20%;
        margin-left: 8px;

        a {
            display: block;
            margin-right: 24px;
        }
    }

    .highlight {
        color: #2196F3;
    }
}