.display-area {
    min-height: 300px;
    position: sticky;
    top: 50px;

    background-color: #f8f8f8;

    display: flex;
    flex-direction: column;

    &__message-container {
        position: absolute; 
        top: 0; 
        left: 0;
        width: 300px;
        min-height: 200px;
    }

    &__file-simulator-container {

        display: flex;

        .filesimulator {
            height: 290px;
            width: 290px;
            margin-left: 5px;
    
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .image {
                width: 100%;
            }
        }

        .icon-container {
            display: flex;
            align-items: flex-end;

            .fa.fa-trash {
                margin: 8px;
                font-size: 36px;
            }
        }
    }

    .filename {
        margin: 0 0 0 32px;
        max-width: 100%;
        white-space: nowrap;
    }

    &__group-btn {
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;

        .fa.fa-times {
            font-size: 30px;
            color: red;
        }
    }

    .backtoparent {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: green;
        }

        .fa-chevron-left {
            font-size: 30px;
        }
    }
}