* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  min-width: 360px; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.button, .submitbutton {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .button:hover, .submitbutton:hover {
    text-decoration: none; }

.submitbutton {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd; }
  .submitbutton:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e; }

.input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .input.-disable {
    display: none; }

.filelabel {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd; }
  .filelabel:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
    cursor: pointer; }

.file-information {
  display: flex;
  align-items: center;
  padding: 16px; }
  .file-information:nth-child(2n) {
    background-color: #f2f2f2; }
  .file-information:nth-child(2n + 1) {
    background-color: #fdfdfe; }
  .file-information:hover {
    background-color: #dadada;
    cursor: pointer; }
  .file-information .iconcontainer {
    width: 20%; }
  .file-information .text {
    width: 40%; }
  .file-information .date {
    width: 40%; }

.file-area .file-information {
  height: 36px; }

.sidebar-area {
  position: -webkit-sticky;
  position: fixed;
  right: 0;
  top: 0;
  width: 270px;
  height: 100%;
  background-color: black;
  transition: 0.5s ease-in-out;
  transform: translateX(270px);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0; }
  .sidebar-area.-left {
    transform: translateX(0); }
  .sidebar-area .sidebaritem {
    color: white;
    height: 45px;
    transition: 0.2s;
    padding: 10px 0 10px 20px; }
    .sidebar-area .sidebaritem:hover {
      opacity: 0.5;
      color: black;
      cursor: pointer;
      background: gray;
      font-size: 20px;
      font-weight: 900; }
    .sidebar-area .sidebaritem.-nohover {
      pointer-events: none; }
    .sidebar-area .sidebaritem.-nopadding {
      padding: 0; }
    .sidebar-area .sidebaritem > label {
      width: 100%;
      height: 100%;
      display: block;
      cursor: pointer;
      padding: 10px 0 10px 20px; }
  .sidebar-area .submitarea {
    height: 0;
    overflow: hidden;
    transition: 0.3s; }
    .sidebar-area .submitarea.-display {
      height: 98px;
      border: 4px solid #ffffff; }
  .sidebar-area .fileinput.-disable {
    display: none; }

.navigation-area {
  position: sticky;
  top: 0;
  height: 52px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navigation-area .navigationgroup {
    display: flex; }
    .navigation-area .navigationgroup .navigationbutton {
      display: flex; }
      .navigation-area .navigationgroup .navigationbutton .iconcontainer {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #dcdcdc; }
        .navigation-area .navigationgroup .navigationbutton .iconcontainer:hover {
          cursor: pointer;
          background-color: #ffffff;
          border: 4px solid #dcdcdc;
          color: #dcdcdc; }
    .navigation-area .navigationgroup .navigationpath {
      display: flex;
      align-items: center;
      margin-left: 16px; }
  .navigation-area .menu-bar {
    margin: 0 10px 0 0;
    cursor: pointer; }
    .navigation-area .menu-bar.-rotate {
      transition: 0.2s;
      transform: rotate(-45deg); }

.display-area {
  min-height: 360px;
  position: sticky;
  top: 50px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center; }
  .display-area .filesimulator {
    height: 350px;
    width: 350px;
    background-color: #ffffff;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }

.contentcontainer {
  transition: 0.5s ease-in-out; }
  .contentcontainer.-left {
    transform: translateX(-270px); }
